body {
	background-color: #16a085;
}

/*svg {
    border: 1px solid;
    position: absolute;
    left: 30%;
    text-align: center;
} */

.ScoreBoard {
	color: white;
	float: left;
	text-align: right;

}


#calculator {
	background-color: #a2d9ce;
    border: 3px solid;
    border-color: #138d75;
    position: absolute;
    left: 30%;
    text-align: center;
    width: 225px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(1,auto);
    box-shadow: 0px 9px 12px;
}
output {
	grid-column: 1 / 5;
	text-align: right;
}
#equal {
    grid-column: 2 / 3;
    grid-row: 4 /3;
}