body {
	background-color: #16a085;
}

.ScoreBoard {
	color: white;
	float: left;
	text-align: right;
}


#calculator {
	background-color: #a2d9ce;
    border: 3px solid;
    border-color: #138d75;
    position: absolute;
    left: 34%;
    text-align: center;
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(1,auto);
    box-shadow: 0px 9px 12px;
}
output {
	grid-column: 1 / 5;
	text-align: right;
}
#equal {
    grid-column: 4;
    grid-row: 6;
    background-color: orange;
}

#division {
    grid-column: 4;
    grid-row: 2;
    background-color: orange;

}

#plus {
    grid-column: 4;
    grid-row: 5;
    background-color: orange;
}

#minus {
    grid-column: 4;
    grid-row: 4;
    background-color: orange;

}

#multiplication {
    grid-column: 4;
    grid-row: 3;
    background-color: orange;
}

#transform {
    grid-column: 3;
    grid-row: 6;

}

#comma {
    grid-column: 1;
    grid-row: 6;
}


#reset {
    grid-column: 3;
    grid-row: 2;
    background-color: #abb2b9;
    color: #fff;
}

#percent {
    grid-column: 2;
    grid-row: 2;
    background-color: #abb2b9;
    color: #fff;
}

#Off {
    grid-column: 1;
    grid-row: 2;
    background-color: #abb2b9;
    color: #fff;
}

#n7 {
  grid-column: 1;
  grid-row: 3;
}
#n8 {
  grid-column: 2;
  grid-row: 3;
}
#n9 {
  grid-column: 3;
  grid-row: 3;
}
#n4 {
  grid-column: 1;
  grid-row: 4;
}
#n5 {
  grid-column: 2;
  grid-row: 4;
}
#n6 {
  grid-column: 3;
  grid-row: 4;
}
#n1 {
  grid-column: 1;
  grid-row: 5;
}
#n2 {
  grid-column: 2;
  grid-row: 5;
}
#n3 {
  grid-column: 3;
  grid-row: 5;
}
#n0 {
  grid-column: 2;
  grid-row: 6;
}



