body {
	background-color: #332e2e;
}

h1 {
    color: white;
}

#calculator {
    background-color: #3a3442;
    border-color: #3a3442;
    outline: 2px solid #303030;
}
output {
    border-color: #1d1628;
    background-color: #303030;
    outline: 3px solid #3a3442;
    color: #d69ae2;
} 

#equal {
    background-color: #303030;
    color: #4f4c4b;
    border: 2px solid orange;
}

#equal:hover {
  background-color: #ff9400;
  color: #fff;
  border: 2px solid #ffae4c;
} 


#division {
    background-color: #303030;
    color: orange;
    border: 2px solid orange;
}

#division:hover {
  background-color: #ff9400;
  border: 2px solid #ffae4c;
}


#plus {
    background-color: #303030;
    color: orange;
    border: 2px solid orange;
}

#plus:hover {
  background-color: #ff9400;
  border: 2px solid #ffae4c;
}


#minus {
    background-color: #303030;
    color: orange;
    border: 2px solid orange;
}

#minus:hover {
  background-color: #ff9400;
  border: 2px solid #ffae4c;
}


#multiplication {
    background-color: #303030;
    color: #4f4c4b;
    border: 2px solid orange;
}

#multiplication:hover {
  background-color: #ff9400;
  border: 2px solid #ffae4c;
}


#convert {
    background-color: #303030;
    border: 2px solid #25e217;
    color: white;
}

#convert:hover {
  background-color: #00ff5c;
  border: 3px solid #87ffb2;
}


#comma {
    background-color: #303030;
    border: 2px solid #25e217;
    color: white;
}

#comma:hover {
  background-color: #00ff5c;
  border: 3px solid #87ffb2;
}


#reset {
    background-color: #303030;
    color: #fff;
    border: 2px solid #25e217;
}

#reset:hover {
  background-color: #00ff5c;
  border: 3px solid #87ffb2;
}


#potency {
    background-color: #303030;
    color: #fff;
    border: 2px solid #25e217;
}

#potency:hover {
  background-color: #00ff5c;
  border: 3px solid #87ffb2;
}


#Pi {
    background-color: #303030;
    color: #fff;
    border: 2px solid #25e217;
}

#Pi:hover {
  background-color: #00ff5c;
  border: 3px solid #87ffb2;
}


button {
  background-color: #303030;
  border: 2px solid #3718e2;
  color: #2f54d8;
}

button:hover {
  background-color: #1f75b7;
  color: #fff;
  border: 2px solid #4ec2c4;
}
/*
#n7 {
  grid-column: 1;
  grid-row: 3;
}
#n8 {
  grid-column: 2;
  grid-row: 3;
}
#n9 {
  grid-column: 3;
  grid-row: 3;
}
#n4 {
  grid-column: 1;
  grid-row: 4;
}
#n5 {
  grid-column: 2;
  grid-row: 4;
}
#n6 {
  grid-column: 3;
  grid-row: 4;
}
#n1 {
  grid-column: 1;
  grid-row: 5;
}
#n2 {
  grid-column: 2;
  grid-row: 5;
}
#n3 {
  grid-column: 3;
  grid-row: 5;
}
#n0 {
  grid-column: 2;
  grid-row: 6;
}

*/

